%section#content-receipt.clearfix
  #receipt-container
    .dotmatrix.left
    #receipt-content
      %h4#receipt-title Thank You!
      %p
        %strong RECEIPT
      #receipt-details.row.clearfix
        .col-sm-8.receipt-left
          %p
            %strong.font-weight-heavy Growth Hacking
            %br/
            %span.font-weight-light Crash Course
        .col-sm-4
          = number_to_currency(@purchase.amount/100.0)
      %a.btn.btn-success.btn-xs{ href: "https://s3-us-west-2.amazonaws.com/e-commerce-stripe/receipt.pdf" }
        DOWNLOAD
      %footer#receipt-footer
        %small Your purchase is complete. We hope you enjoy it!
    .dotmatrix.right
  #receipt-shadow
