#content.container
  %header#content-header
    #price-container
      %span.glyphicon.glyphicon-tag
      %span.price $4.99
    #content-header-img
      = image_tag "header-image.jpg", alt: "Learn Rails in One Month - Pants Optional"
  %section#content-receipt.clearfix
    #receipt-container
      .dotmatrix.left
      #receipt-content
        %h4#receipt-title Thank You!
        %p
          %strong RECEIPT
        #receipt-details.row.clearfix
          .col-sm-8.receipt-left
            %p
              %strong.font-weight-heavy Growth Hacking
              %br/
              %span.font-weight-light Crash Course
          .col-sm-4
            $4.99
        %button.btn.btn-success.btn-xs{ type: "button" } DOWNLOAD
        %footer#receipt-footer
          %small Your purchase is complete. We hope you enjoy it!
      .dotmatrix.right
    #receipt-shadow
%footer#site-footer
  Made by
  = link_to "http://onemonth.com", target: "_blank" do
    = image_tag "one-month-logo.svg", alt: "One Month", id: "#one-month-footer-logo"